<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour History</title>
  </head>

  <body>
    <h1>Tour History</h1>

    <% if (tourHistory.length === 0) { %>
    <p>No tours selected yet.</p>
    <% } else { %>
    <ul>
      <% tourHistory.forEach((tour) => { %>
      <li><%= tour.cityName %> - <%= tour.timestamp %></li>
      <% }); %>
    </ul>
    <% } %>

    <a href="/travelagency">Back to Travel Agency</a>
  </body>
</html>
